@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/sf-pro-text_bold.eot');
    src: url('../fonts/sf-pro-text_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sf-pro-text_bold.svg#SF Pro Text') format('svg'),
    url('../fonts/sf-pro-text_bold.woff2') format('woff2'),
    url('../fonts/sf-pro-text_bold.woff') format('woff'),
    url('../fonts/sf-pro-text_bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/sf-pro-text_regular.eot');
    src: url('../fonts/sf-pro-text_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sf-pro-text_regular.svg#SF Pro Text') format('svg'),
    url('../fonts/sf-pro-text_regular.woff2') format('woff2'),
    url('../fonts/sf-pro-text_regular.woff') format('woff'),
    url('../fonts/sf-pro-text_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}